
.footer-app {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
    background-color: var(--fondo);
    border-top: 1px solid var(--bordes);
    z-index: sticky
}

.rutas-footer {
    justify-content: center;
    gap: 1rem;
}